.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  height: 100%;
  min-height: calc(100vh - 150px);
  max-width: 900px;
  margin: 0 auto;
}

.form {
  margin: 30px auto 0;
  width: 100%;
  max-width: 650px;
}

.logo {
  margin: 0 auto 10px;
}

.headline {
  font-weight: 100;
}

.subheading {
  font-weight: 100;
}